<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Bytes</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="home.html">Better Bytes</a>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="scan.html">Scan</a></li>
                <!--<li><a href="#">My Plan</a></li> -->
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="text-content">
            <h1><span class="italic">Eat Better</span></h1>
            <p>Instantly scan food bar codes to uncover harmful ingredients and make healthier choices.</p>
            <button>Start scanning...</button>
        </div>
        <div class="image-content">
            <img src="Boilermake/home-page-1.png" alt="Better Bytes Home Graphic 1">
        </div>
    </section>
</body>

</html>