header {
    background-color: #ff7854;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.logo a {
    text-decoration: none;
    /* Removes underline */
    color: white;
    /* Keeps text white */
    font-size: 24px;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.text-content {
    max-width: 500px;
}

.text-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.italic {
    font-style: italic;
    color: #2d4c4a;
}

.text-content p {
    font-size: 18px;
    color: #ff7854;
    margin: 20px 0;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}

.image-content img {
    max-width: 450px;
    height: auto;
}